p{ text-align: left;
    margin-left:10.5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    line-height: 6px;
    
    
}

.resume{
    width: 160px;
    height: 150px;
    float: right;
    padding-right: 100px;
    padding-bottom: 20px;
    
}

blockquote{ text-align: left;
    margin-left:10.5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;

 }


h2 { margin-left:7.4em;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

ul{ text-align: left;
    margin-left:9.5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;

}

h1{ margin-left:4.9em;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
}

h3{ text-align: left;
    margin-left:10.5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    line-height: 6px;

}
body{background-color:rgb(207, 178, 154)
}


.info{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    line-height: 6px;
    

}

