
fieldset{
    width: 500px;
    border: 2px solid black;
    background-color: #d8dad9;
    margin: auto;
}

.title{
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: tahoma;
}

body{
    background-image:url(background2.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    
    
}

input[type="text"]{
    padding: 15px 10px;
    width: 350px;
    text-align: left;
    display: inline-block;
    border: solid 1px rgb(0, 0, 0);
}

input[type="email"]{
    padding: 15px 10px;
    width: 350px;
    text-align: left;
    display: inline-block;
    border: solid 1px rgb(0, 0, 0);
}

input[type="number"]{
    padding: 15px 10px;
    width: 350px;
    text-align: left;
    display: inline-block;
    border: solid 1px rgb(0, 0, 0);
}

input[type="checkbox"]{
    margin-left: 90px;
}
input[type="radio"]{
    margin-left: 90px;
}

input[type="submit"]{
    
    margin-left: 370px;
    background-color: #000000;
    font-size: 20px;
    width: 100px;
    color:white;
    padding: 5px;
}

input[type="reset"]{
    padding: 5px;
    background-color: #000000;
    font-size: 20px;
    width: 120px;
    color:white;
    padding: 5px;
}

label.form1{
    padding: 20px;
    padding-left: 100px;
    display: inline-block;
    width: 160px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

textarea.form1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 2px;
    height: 90px;
    width: 800px;
    padding: 10px;
    border: solid 1px rgb(0, 0, 0);
    resize:none;
}

.renz{
    margin-left: 100px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    background-color:rgba(210,162,113,255);
    width: 950px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    margin:auto;
    
}

h3{
    margin-bottom:10px;
    text-align: center;
}
.logo2{
    vertical-align: middle;
    width: 250px;
    margin: auto;
    text-align: center;
}

.second{
    width: 925px;
    border: 2px solid black;
    background-color: #d8dad9;
    margin: auto;
}

.third{
    width: 925px;
    border: 2px solid black;
    background-color: #d8dad9;
    margin: auto;
}

.form7{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:120px;
    
}

.form6{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:170px;
}

input.boxs {
    width: 40px;
    padding: 2px;
    margin-left: 5px;
}


.burgers{
    width: 500px; 
    height: 400px; 
    float: left;
    border-radius: 30px;
}

.fourth{
    
 width: 925px;
 border: 2px solid black;
 background-color: #d8dad9;
 margin: auto;
     
}

.form8{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:187px;
}

.form9{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:190px;
}

.renz4{
    margin-left: 90px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fifth{
 width: 925px;
 border: 2px solid black;
 background-color: #d8dad9;
 margin: auto;
}

.form10{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:181px;
}

.form11{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:200px;
}

.sixth{
    width: 925px;
    border: 2px solid black;
    background-color: #d8dad9;
    margin: auto;
}

.form12{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:181px;
}

.last{
    margin-left: 20px;
    vertical-align: middle;
    height: 100px;
    display: inline-block;
}

.form13{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:200px;
}

.seven{
    width: 925px;
    border: 2px solid black;
    background-color: #d8dad9;
    margin: auto;
}

.lastone{
    width: 925px;
    border: 2px solid black;
    background-color: #d8dad9;
    margin: auto;
    
}


